:root{
  --primary-bg: #1992D4;
  --primary-text: white;
  --secondary-bg: #F0B429;
  --indent-bg: #E2E8F0;
  --normal-text: rgba(0,0,0,90%);
  --subtle-text: rgba(0,0,0,70%);
}

/* Uses joshwcomeau CSS Reset */
/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: "Roboto", serif;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

/* Media */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Form */
input, button, textarea, select {
  font: inherit;
}

/* Text */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* Root stacking context */
#root, #__next {
  isolation: isolate;
}

/* Dashboard */
#dashboard{
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 264px 1fr;
  grid-template-rows: 200px 1fr;
  grid-template-areas:
  "nav header"
  "nav main";
}

/* Navigation */
nav{
  grid-area: nav;
  padding: 16px;
  background-color: var(--primary-bg);
}

#logo a{
  display: flex;
  align-items: center;
  gap: 16px;
  color: var(--primary-text);
  margin-bottom: 32px;
}

#logo a{
  color: var(--primary-text);
}

#logo .material-symbols-outlined{
  font-size: 48px;
}

#logo .title{
  font-size: 1.75rem;
  font-weight: 600;
}

ul.nav-list{
  list-style-type: none;
  padding: 0;
  margin-bottom: 32px;
}

ul.nav-list li a{
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 8px;
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary-text);
}

ul.nav-list li a:hover{
  border-left: 3px var(--secondary-bg) solid;
}

ul.nav-list li a{
  color: var(--primary-text);
}

/* Header */
header{
  grid-area: header;
  padding: 24px 48px;
  background-color: var(--primary-text);
  box-shadow: 0px 6px 5px 0px rgba(0,0,0,15%);
  -webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,15%);
  -moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,15%);
  z-index: 1;
}

#top{
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 32px;
}

#search{
  display: inline-flex;
  align-items: center;
  gap: 16px;
  width: 60%;
  min-width: 200px;
  max-width: 600%;
}

#search-bar{
  height: 32px;
  width: 100%;
  background-color: var(--indent-bg);
  border-radius: 32px;
  padding: 8px;
  border: none;
}

#search-bar:focus{
  outline: 3px var(--primary-bg) solid;
}

#notifications{
  display: inline-flex;
  align-items: center;
  gap: 16px;
}

#notifications .username{
  font-weight: bold;
  font-size: 1rem;
  color: var(--normal-text);
}

#notifications .profile-image img{
  width: 40px;
  min-width: 40px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  object-fit: cover;
  border: 1px rgba(0,0,0,15%) solid;
}

#bottom{
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

#profile{
  display: flex;
  gap: 16px;
  align-items: center;
}

#profile .greeting{
  font-size: 0.9rem;
  font-weight: 500;
  align-self: flex-end;
  color: var(--normal-text);
}

#profile .username{
  font-weight: bold;
  font-size: 1.25rem;
  align-self: flex-start;
  color: var(--normal-text);
}

#profile .profile-image img{
  width: 80px;
  min-width: 80px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  object-fit: cover;
  border: 1px rgba(0,0,0,15%) solid;
}

#actions{
  display: inline-flex;
  align-items: center;
  gap: 16px;
  font-weight: 400;
}

button{
  width: 96px;
  height: fit-content;
  padding: 8px 16px;
  color: var(--primary-text);
  border-radius: 32px;
  border: none;
  background-color: var(--primary-bg);
}

button:hover{
  background-color: #136c9c;
  cursor: pointer;
}

/* Main */
main{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-area: main;
  gap: 16px;
  padding: 32px 48px 32px 32px;
  background-color: var(--indent-bg);
}

main h2{
  margin-bottom: 8px;
  color: var(--normal-text);
}

#projects{
  grid-column: 1/4;
}

#projects-container{
  height: fit-content;
  width: 100%;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: auto;
}

.card{
  height: 100%;
  width: 100%;
  padding: 24px;
  background-color: white;
  border-left: 8px var(--secondary-bg) solid;
  border-radius: 8px;
  box-shadow: 0px 6px 5px 0px rgba(0,0,0,15%);
  -webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,15%);
  -moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,15%);
}

.card .title{
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--normal-text);
}

.description{
  font-size: 0.9rem;
  font-weight: normal;
  margin-bottom: 16px;
  color: var(--subtle-text);
}

.card > .actions{
  width: 100%;
  display: inline-flex;
  justify-content: flex-end;
  gap: 16px;
}

#sidebar{
  grid-column: 4/5;
}

#announcements{
  width: 100%;
  height: fit-content;
  padding: 24px;
  margin-bottom: 32px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 6px 5px 0px rgba(0,0,0,15%);
  -webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,15%);
  -moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,15%);
}

#announcements .row{
  width: 100%;
  padding: 8px 0px;
}

#announcements .title{
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--normal-text);
}

#announcements .row .description{
  font-size: 0.8rem;
}

#announcements .row:not(:last-child){
  border-bottom: 1px rgba(0,0,0,30%) solid;
}

#trending{
  padding: 16px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 6px 5px 0px rgba(0,0,0,15%);
  -webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,15%);
  -moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,15%);
}

#trending .user{
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 24px;
}

#trending .profile-image img{
  width: 40px;
  min-width: 40px;
  aspect-ratio: 1/1;
  border-radius: 100%;  
  object-fit: cover;
  border: 1px rgba(0,0,0,15%) solid;
}

#trending .user-name-container{
  width: 100%;
}

#trending .username{
  font-size: 0.9rem;
  font-weight: normal;
  color: var(--normal-text);
}

#trending .motto{
  font-size: 0.9rem;
  font-weight: normal;
  color: var(--subtle-text);
}