
/* Uses joshwcomeau CSS Reset */
/* Global */
:root {
  --primary-bg: #1992D4;
  --primary-text: white;
  --secondary-bg: #F0B429;
  --indent-bg: #E2E8F0;
  --normal-text: rgba(0,0,0,90%);
  --subtle-text: rgba(0,0,0,70%);
  --footer-bg: hsl(201, 79%, 35%);
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: "Roboto", serif;
}

body {
  display: grid;
  grid-template-columns: 264px 1fr;
  grid-template-rows: 200px 1fr 100px;
  grid-template-areas:
  "nav header"
  "nav main"
  "footer footer";
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

/* Media */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Form */
input, button, textarea, select {
  font: inherit;
}

/* Text */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* Root stacking context */
#root, #__next {
  isolation: isolate;
}

/* Navigation */
nav {
  grid-area: nav;
  display: inline-flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  background-color: var(--primary-bg);
}

#logo {
  padding: 8px;
}

#logo a {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--primary-text);
}

#logo img {
  height: 2.5rem;
  width: 2.5rem;
}

#logo .title {
  font-size: 1.75rem;
  font-weight: 600;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li a {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 8px;
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary-text);
  border-left: 3px rgba(0,0,0,0%) solid;
}

nav ul li a:hover {
  border-left: 3px var(--secondary-bg) solid;
}

/* Header */
header {
  grid-area: header;
  padding: 1.5rem 3rem;
  background-color: var(--primary-text);
  box-shadow: 0px 6px 5px 0px rgba(0,0,0,15%);
  -webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,15%);
  -moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,15%);
}

header .row{
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

header .row:not(:last-child){
  margin-bottom: 2rem;
}

/* Row 1 */
#search {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  width: 60%;
  min-width: 200px;
  max-width: 600%;
}

#search-bar {
  height: 2rem;
  width: 100%;
  background-color: var(--indent-bg);
  border-radius: 2rem;
  padding: 8px;
  border: none;
}

#search-bar:focus {
  outline: 3px var(--primary-bg) solid;
}

#notifications {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}

#notifications .username {
  font-weight: bold;
  font-size: 1rem;
  color: var(--normal-text);
}

#notifications img.profile-image {
  width: 40px;
  min-width: 40px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  object-fit: cover;
  border: 1px rgba(0,0,0,15%) solid;
}

/* Row 2 */
#profile {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#profile .greeting {
  font-size: 0.9rem;
  font-weight: 500;
  align-self: flex-end;
  color: var(--normal-text);
}

#profile .username {
  font-weight: bold;
  font-size: 1.25rem;
  align-self: flex-start;
  color: var(--normal-text);
}

#profile img.profile-image {
  width: 80px;
  min-width: 80px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  object-fit: cover;
  border: 1px rgba(0,0,0,15%) solid;
}

#actions {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  font-weight: 400;
}

button {
  width: 96px;
  height: fit-content;
  padding: 8px 1rem;
  color: var(--primary-text);
  background-color: var(--primary-bg);
  border: none;
  border-radius: 2rem;
}

button:hover {
  background-color: #136c9c;
  cursor: pointer;
}

/* Main */
main {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 2rem 3rem 2rem 2rem;
  background-color: var(--indent-bg);
}

main h2 {
  color: var(--normal-text);
  margin-bottom: 8px;
}

/* Projects */
#projects {
  grid-column: 1/4;
}

#projects-container {
  width: 100%;
  height: auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: auto;
  margin-bottom: 2rem;
}

.project-card {
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  background-color: white;
  border-left: 8px var(--secondary-bg) solid;
  border-radius: 8px;
  box-shadow: 0px 6px 5px 0px rgba(0,0,0,15%);
  -webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,15%);
  -moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,15%);
}

.project-card .title {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--normal-text);
}

.project-card .description {
  font-size: 0.9rem;
  font-weight: normal;
  margin-bottom: 1rem;
  color: var(--subtle-text);
}

.project-card .actions {
  width: 100%;
  display: inline-flex;
  justify-content: flex-end;
  gap: 1rem;
}

/* Announcements */
#sidebar {
  grid-column: 4/5;
}

#announcements {
  padding: 0rem 1.5rem;
  margin-bottom: 2rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 6px 5px 0px rgba(0,0,0,15%);
  -webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,15%);
  -moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,15%);
}

.announcement-item {
  width: 100%;
  padding: 1.5rem 0rem;
}

.announcement-item:not(:last-child){
  border-bottom: 1px rgba(0,0,0,30%) solid;
}

.announcement-item .title {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--normal-text);
}

.announcement-item .description {
  font-size: 0.8rem;
  font-weight: normal;
  color: var(--subtle-text);
}

/* Trending */
#trending {
  padding: 1.5rem;
  margin-bottom: 2rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 6px 5px 0px rgba(0,0,0,15%);
  -webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,15%);
  -moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,15%);
}

.trending-item {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.trending-item:not(:last-child) {
  margin-bottom: 1.5rem;
}

.trending-item img.profile-image {
  width: 40px;
  min-width: 40px;
  aspect-ratio: 1/1;
  border-radius: 100%;  
  object-fit: cover;
  border: 1px rgba(0,0,0,15%) solid;
}

.trending-item .user-info {
  width: 100%;
}

.trending-item .username {
  font-size: 0.9rem;
  font-weight: normal;
  color: var(--normal-text);
}

.trending-item .motto {
  font-size: 0.9rem;
  font-weight: normal;
  color: var(--subtle-text);
}

/* Footer */
footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--footer-bg);
}

#copyright {
  text-align: center;
  color: white;
  font-size: 0.9rem;
  font-weight: normal;
}